.portalGridView {
 	position:absolute;
	/* Full height */
	height: 100%;
	left:12%;
	width:88%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y:hidden;
	z-index:1;
}
.portalGridView .Row {
    display: grid;
    width: 100%; /*Optional*/
    border-spacing: 10px; /*Optional*/
    grid-template-columns: auto auto;
}
.portalGridView .Row .Column {
    transition: transform .2s;
    background: rgba(1,1,1,0);
}

.portalGridViewContainer {
	width:100%;
	height:100%;
	z-index:1;
	text-align: center;
	position: absolute;
	overflow-y:auto;
}

@media only screen and (max-width: 600px) {
	.portalGridView .Row {
		grid-template-columns: auto;
	}
}