
dialog.portalmodal {
	font: 500 1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #3ab3f7;
  color: black;
  text-align: center;
  border: none;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 0 40px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.25);
  max-width: 90vw;
}

dialog.portalmodal[open] {
  animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
}

dialog.portalmodal::backdrop {
  background: linear-gradient(45deg, rgba(0,143,104,.5), rgba(250,224,66,.5));
}

dialog.portalmodal .actions {
  display: flex;
  justify-content: space-around;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

