
.play {
  width:48px;
  height:48px;
  right: 10px;
  background-image: url(./images/play_small.png);
}

.play:hover {
  background-image: url(./images/play_hover_small.png);
}
	
.pause {
  width:48px;
  height:48px;
  right: 10px;
  background-image: url(./images/pause_small.png);
}

.pause:hover {
  background-image: url(./images/pause_hover_small.png);
}

.tissueDisplayPortCollapse {
	position:absolute;
	width:25%;
	left:50%;top:0%;
	height:50%;
	display: block;
}

.cellDisplayPortCollapse {
	position:absolute;
	height:50%;
	width:25%;
	left:50%;
	top:50%;
	border-top: 2px solid #000000;
	display: block;
}

.modelDisplayPortCollapse {
	position:absolute;
	height:100%;
	width:25%;
	left:75%;
	border-left: 2px solid #000000;
	display: block;
}


#bodyGui, #organGui, #tissueGui, #modelGui, #cellGui {
	position: absolute;
	left: 1%;
	z-index: 1;
}

#gui {
 	transform:translate(0%, 0px);
}

.textContainer {
    position:relative;
    width:100%;
}
display:none
.titleContainer {
    position:relative;
    width:100%;
    padding-top: 1%;
}

.titleText {
	text-align: center;font-style: italic;font-size: 160%;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.selectionText {
	text-align: center;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

img.model {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-height:100%;
  max-width:100%;
}

.cellSelectionButton {
	text-align: center;
	z-index:2;
}

#cellButtonDivider {
	position:absolute;
	width:100%;
	text-align: center;
	display:flex;
}

#modelsContainer {
	text-align:center;
	max-width:100%;
	max-height:80%;
	top:5%;
	right:0%;
	visibility: visible;
	position: relative;
	overflow-x: auto;
	overflow-y: auto;
	border-style: groove;
}

.svgContainer {
	height:90%;
	width:100%;
}

#ZoomControl{
	visibility: visible;
}

#systemToggle {
	position:absolute;
	top:20%;
	left:2%;
}

.systemToggleButton {
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	width:37px;
	height:30px;
	color:#fff!important;
	font-size:15px;
	margin-top: 5px;
	text-align: center;
}

.systemToggleButtonOn {
	border-color: #00ff00;
}

.systemToggleButtonOff {
	border-color: #ff0000;
}

.systemToggleButtonPartial {
	border-color: #0000ff;
}

.systemToggleButtonOn:hover {
	background-color: RED !important;
}

.systemToggleButtonPartial:hover {
	background-color: GREEN !important;
}

.systemToggleButtonOff:hover {
	background-color: GREEN !important;
}

#organLinkButton {
    bottom: 3%;
    z-index:2;
    visibility: hidden;
    background-color:rgb(100%, 30%, 30%);
}

.modelButton {
	margin-top:5%;
}

#modelsController {
	position:relative;
	text-align:center;
	visibility:visible;
	display:block;
}.leftTopButton {
    position:absolute;
    left: 1%;
    z-index:2;
}

.organsImg {
	max-height: 100%;
	max-width: 100%;
	position: absolute;
}

.organsImgContainer {
	text-align:left;
	top: 2%;
	height: 96%;
	left: 30%;
	width: 68%;
	position: absolute;
}

.range-slider {
  // Slider
  .input-range {
    -webkit-appearance: none;
    height: 200px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    
  }
}

.organsSecondSceneDisplay {
	height:100%;
	width:50%;
	left:50%;
	top:0%;
	border-left: 2px solid #000000;
	position:absolute;
}

.organsSecondNerveDisplay {
	height:100%;
	width:33%;
	left:33%;
	top:0%;
	border-left: 2px solid #000000;
	position:absolute;
}

.organsSVGDisplay {
	height:100%;
	width:34%;
	left:66%;
	top:0%;
	border-left: 2px solid #000000;
	position:absolute;
}

.portalDatGui {
	position:absolute;
	height: 95%;
	pointer-events: none;
}

#meshGui li.folder .dg .c {
	width:20%;
}

#meshGui li.folder .dg .property-name {
	width:80%;
	font-size:10px;
}
