.dropdown {}

.dropdown-content {
    display: none;
    position: relative;
    float: right;
    background-color: #d1d1d1;
    min-width: 100%;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content div {
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown-content:hover {background-color: #f1f1f1;}


.dropdown:hover .dropbtn {background-color: #3e8e41;}

.sidebar-manager {
  background-color: #2b7ccc;
  color: #000000;
  font-weight: 700;
  padding: 5px 8px !important; 
  margin-bottom: 3px;
  border-radius: 10px;
}

.sidebar-manager:hover {background-color: #7fc0ff !important;}

.add-dialog {
	background-color: #2b7ccc;
  padding: 5px 8px !important; 
  font-weight: normal;
  margin-bottom: 2px;
  border-radius: 5px;
}

.add-dialog:hover {background-color: #b2d8ff  !important;}

.sidebar-module {
  padding: 5px 8px !important;
  color: #000;
	background-color:#3ab3f7;
  font-weight: normal;
  margin-bottom: 2px;
  border-radius: 5px;
}

.sidebar-module:hover {background-color: #b2d8ff  !important;}

.sidebar {
	z-index:20000000;
	color: #fff;
	background-color:#00357d;
	position:absolute!important;
	opacity: 0;
  	visibility: hidden; /* Show the snackbar */
  	overflow: auto;
  	width: 12%;
}

.sidebar-topbutton {
	border-radius: 5px;
}

.sidebar-topbutton:hover {background-color: #b2d8ff  !important;}

.sidebar.leftShow {
  opacity: 0.9;
  visibility: visible;
  display:block;
  -webkit-animation: leftin 0.5s;
  animation: leftin 0.5s;
  height:100%;
}

.sidebar.leftHide {
  -webkit-animation: leftout 0.5s;
  animation: leftout 0.5s;
  height:0%;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes leftin {
  from {left: -30px; opacity: 0;height:0%;} 
  to {left: 0px; opacity: 0.9;height:100%;}
}

@keyframes leftin {
  from {left: -30px; opacity: 0;height:0%;}
  to {left: 0px; opacity: 0.9;height:100%;}
}

@-webkit-keyframes leftout {
  from {left: 0px; opacity: 0.9;height:100%;visibility:visible;} 
  to {left: -30px; opacity: 0;height:0%;visibility:hidden;}
}

@keyframes leftout {
  from {left: 0px; opacity: 0.9;visibility: visible;height:100%}
  to {left: -30px; opacity: 0;visibility: hidden;height:0%}
}


select.profile {
   background-image: url(./images/SelectArrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   -webkit-appearance: button;
   border-radius: 10px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 80%;
   left:10%;
   cursor: pointer;
}

select.green {
   background-image: url(./images/SelectArrow.png), -webkit-linear-gradient(#207978, #207978 40%, #207978);
   color: #fff;
   background-color: #207978;
   padding-left: 10px;
}

