.switch {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 25px;
  left:10%;
}

.switch input {display:none;}

.switch_text {
	position: absolute;
	left: 50px;
	padding-left:10%;
	font-size: 1.2em;
}

.switchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchSlider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switchSlider {
  background-color: #2196F3;
}

input:focus + .switchSlider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switchSlider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded switchSliders */
.switchSlider.round {
  border-radius: 25px;
}

.switchSlider.round:before {
  border-radius: 50%;
}

.play {
  width:48px;
  height:48px;
  right: 10px;
  background-image: url(./images/play_small.png);
}

.play:hover {
  background-image: url(./images/play_hover_small.png);
}
	
.pause {
  width:48px;
  height:48px;
  right: 10px;
  background-image: url(./images/pause_small.png);
}

.pause:hover {
  background-image: url(./images/pause_hover_small.png);
}

#tooltipcontainer {
	position: absolute;
	background-color: #fff;
	pointer-events: none;
	cursor: pointer;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	pointer-events: none;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
}

.switchSlider_style {
	position: absolute;
	width:50%;
	left:25%;
	background-color: #FFF;
	opacity: 1.0;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.screenButton {
    position:absolute;
    right: 1%;
    z-index:2;
}



.bodyDisplayPortCollapse {
	position:absolute;
	height:100%;
	width:25%;
	left:0%;
	border-right: 2px solid #000000;
}

.organsDisplayPortCollapse {
	position:absolute;
	height:100%;
	width:25%;
	left:25%;
	border-right: 2px solid #000000;
	display: block;
}

.tissueDisplayPortCollapse {
	position:absolute;
	width:25%;
	left:50%;top:0%;
	height:50%;
	display: block;
}

.cellDisplayPortCollapse {
	position:absolute;
	height:50%;
	width:25%;
	left:50%;
	top:50%;
	border-top: 2px solid #000000;
	display: block;
}

.modelDisplayPortCollapse {
	position:absolute;
	height:100%;
	width:25%;
	left:75%;
	border-left: 2px solid #000000;
	display: block;
}

.apinatomyDisplayPortCollapse {
	position:absolute;
	height:30%;
	width:100%;
	top:70%;
	border-top: 1px solid black;
	display: block;
}

.fullPortDisplay {
	position:relative;
	height:100%;
	width:100%;
	left:0%;
	display: block;
}

#bodyGui, #organGui, #tissueGui, #modelGui, #cellGui {
	position: absolute;
	left: 1%;
	z-index: 1;
}

#gui {
 	transform:translate(0%, 0px);
}

.textContainer {
    position:relative;
    width:100%;
}
display:none
.titleContainer {
    position:relative;
    width:100%;
    padding-top: 1%;
}

.titleText {
	text-align: center;font-style: italic;font-size: 160%;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.selectionText {
	text-align: center;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

img.model {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-height:100%;
  max-width:100%;
}

.cellSelectionButton {
	text-align: center;
	z-index:2;
}

#cellButtonDivider {
	position:absolute;
	width:100%;
	text-align: center;
	display:flex;
}

#modelsContainer {
	text-align:center;
	width:100%;
	height:90%;
	right:0%;
	bottom:1%;
	visibility: hidden;
	position: relative;
	overflow-x: auto;
	overflow-y: auto;
}

.svgContainer {
	height:90%;
	width:100%;
}

.fullPortDisplay .svgContainer {
	height:90%;
	width:100%;
}

#ZoomControl{
	visibility: hidden;
}

.fullPortDisplay #ZoomControl{
	visibility: visible;
}

#systemToggle {
	position:absolute;
	top:20%;
	left:2%;
}

.systemToggleButton {
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	width:37px;
	height:30px;
	color:#fff!important;
	font-size:15px;
	margin-top: 5px;
	text-align: center;
}

.systemToggleButtonOn {
	border-color: #00ff00;
}

.systemToggleButtonOff {
	border-color: #ff0000;
}

.systemToggleButtonPartial {
	border-color: #0000ff;
}

.systemToggleButtonOn:hover {
	background-color: RED !important;
}

.systemToggleButtonPartial:hover {
	background-color: GREEN !important;
}

.systemToggleButtonOff:hover {
	background-color: GREEN !important;
}

#organLinkButton {
    bottom: 3%;
    z-index:2;
    visibility: hidden;
    background-color:rgb(100%, 30%, 30%);
}

.modelButton {
	margin-top:10%;
}

.fullPortDisplay .modelButton{
	margin-top:0%;
	margin-left:40%;
}

#modelsController {
	position:relative;
	text-align:center;
	visibility:hidden;
	display:block;
}.leftTopButton {
    position:absolute;
    left: 1%;
    z-index:2;
}

.fullPortDisplay #modelsController{
	display:flex;
}

.hideApinatomyButton {
    position:absolute;
    left: 1%;
    z-index:2;
}

.showApinatomyButton {
    position:absolute;
    left: 1%;
    bottom: 1%;
    z-index:2;
    visibility:hidden;
}
	

.topPanelExpand {
	height:100%;
}

.topPanelCollapse {
	height:70%;
}

.organsImg {
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	display:none;
}

.organsImgContainer {
	text-align:left;
	top: 2%;
	height: 96%;
	left: 30%;
	width: 68%;
	position: absolute;
}
